{% extends 'layout.html' %}

{% block title %}
    JSON-store :: Summary
{% endblock %}

{% block content %}
    <div id="keys-cont" class="hidden">
        This is the full list of the keys present in the store:
        <ul>
        {% for item in keys_arr %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
    <div id="tags-cont">
        This is the full list of the tags present in the store:
        <ul>
        {% for item in tags_arr %}
            <li>:: {{ item }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

