{% extends 'layout.html' %}

{% block title %}
    JSON-store :: Summary
{% endblock %}

{% block content %}
    <div id="keys-cont" class="list hidden">
        This is the full list of the keys present in the store:
        <ul>
        {% for item in keys_arr %}
            <li id="{{ item }}">:: {{ item }}</li>
        {% endfor %}
        </ul>
    </div>
    <div id="tags-cont" class="list">
        This is the full list of the tags present in the store:
        <ul>
        {% for item in tags_arr %}
            <li id="tags:{{ item }}">:: {{ item }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

